<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sistema Apurador</title>
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" />  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  {% block head %} 
  {% endblock %}
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">
          
          <!-- Begin Mensagens -->
          {% with mensagens = get_flashed_messages(with_categories=True) %} 
          {% if mensagens %} 
              {% for categoria, mensagem in mensagens %}
              <div class="alert {{ categoria }} alert-dismissible fade show" role="alert">
                  {{ mensagem }}
                  <button class="close" type="button" data-dismiss="alert" aria-label="Fechar">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              {% endfor %} 
          {% endif %} 
          {% endwith %}
          <!-- End of Mensagens -->

          {% block body %} 
                
          {% endblock %}                 

        </div>

    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> 

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>

